body {
    font-family: 'Raleway', sans-serif;
}

.one {
background-color: aqua;
}

.two {
background-color: yellow;
}

.text:hover,
.text:focus{
font-style: 'Raleway';
color: blue;
}

.textt:hover,
.textt:focus{
font-style: 'Raleway';
color: rgb(97, 97, 0);
width: 30px;
height: 30px;
}

.text {
font-style: 'Raleway';
color: yellow;
text-decoration: none;
width: 145px;
height: 31px;
}

.textt {
    font-style: 'Raleway';
    color: aqua;
    text-decoration: none;
    width: 145px;
    height: 31px;
    }

.imgl {
    margin-left: 1000090px;
    height: 140px;
}

.tiktok {
    margin: 0px;
    padding: 4px;
}

.tiktok li {
    margin-top: 25px;
    display: inline;
    margin-right: 50px;
    padding: 3px;
}

.tiktok li:hover {
width: 20px;
height: 40px;
color: blue;
background-color: yellow;
text-decoration: none;
box-shadow: 700px;
}