body {
    font-family: 'Raleway', sans-serif;
}

.link {
    text-decoration: none;
    color: #212121;
}

.link:hover,
.link:focus {
color: #2196F3;
}

.ul li {
    margin-top: 25px;
    display: inline;
    margin-right: 50px;
    padding: 15px;
    font-size: 20px;
    background-color: #212121;
    color: #dfdbdb;
}

.nav:hover,
.nav:focus {
    color: #2196F3;
}

.nav {
    color: #dfdbdb;
    text-decoration: none;
}

li {
 list-style: none;

}

.tiktok {
    margin: 0px;
    padding: 4px;
}

.tiktok li {
    margin-top: 25px;
    display: inline;
    margin-right: 50px;
    padding: 15px;
    font-size: 40px;
}

.zdr {
    font-size: 100px;
}

.size {
    font-size: 50px;
    margin-right: 10px;
}

.yaloh {
    display: flex;
}

.justdiv {
    margin-right: 500px;
}